<!DOCTYPE html>
<html>
<head>
    <title>Login - Assignment System</title>
</head>

<body>

    <h1>Student Assignment Submission & Similarity Tracking System</h1>

    <h2>Login</h2>

    <form method="POST">

        <label>Username:</label>
        <input type="text" name="username" required>

        <br><br>

        <label>Password:</label>
        <input type="password" name="password" required>

        <br><br>

        <label>Role:</label>
        <select name="role">
            <option value="student">Student</option>
            <option value="faculty">Faculty</option>
        </select>

        <br><br>

        <button type="submit">Login</button>

    </form>

    {% if error %}
        <p>{{ error }}</p>
    {% endif %}

</body>
</html>